*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/cap☺tures
.externalNativeBuild
.cxx
local.properties
backend/.env
backend/.env.local
backend/node_modules/
cbt-app/
